<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js></script>
    <script src="/static/js/chessboard-1.0.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
    <title></title>
</head>
<body>
    <h1 class="center">Chess home!</h1>
    <div class="center" id="board1" style="width: 45%;"></div>
    <div class="buttons center">
        <button style="margin: 1%;" class="getPosition" onclick="clickGetPosition()">Get Position</button>
        <button style="margin: 1%;" class="setPosition" onclick="setToRuyLopez()">Set Position To Ruy Lopez</button>
        <button style="margin: 1%;" class="start" onclick="setToStart()">Set Position To Start</button>
    </div>
</body>
    <script>
        var MovePieceURL = "{% url 'chess-move-piece' %}";
        var GameStartURL = "{% url 'chess-start-game' %}";

    </script>
    <script>
      function onDrop (source, target, piece, newPos, oldPos, orientation, game_id) {
          $.post(MovePieceURL, {'newPos': Chessboard.objToFen(newPos), 'oldPos': Chessboard.objToFen(oldPos),
          'source': source, 'target': target, 'game_id': game_id},
           function(response){console.log('HEY!');});
      }

      function gameStart(game_id){
        $.post(GameStartURL, {'game_id': game_id}, function(response){console.log('Started Chess Game: ' + game_id);});
       }
</script>
    <script>
        function getConfig(game_id){
        config = {
          position: "start",
          draggable: true,
          pieceTheme: "/static/img/chesspieces/wikipedia/{piece}.png",
          onDrop: function(source, target, piece, newPos, oldPos, orientation){
            onDrop(source, target, piece, newPos, oldPos, orientation, game_id)}
            }
          return config
         }

        class ChessBoard extends Chessboard{
            constructor(div_tag, game_id){
                super(div_tag, getConfig(game_id));
                this.game_id = game_id
                gameStart(this.game_id)
            }

            position(move_one){
                console.log(move_one);
            }
        }

        var board1 = new ChessBoard('board1', 'game_one')
        function clickGetPosition(){
          console.log('Current position as an Object:')
          console.log(board1.position())

          console.log('Current position as a FEN string:')
          console.log(board1.fen())
        }
        function setToRuyLopez(){
        board1.position('r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R')
        }
        function setToStart(){
        board1.start()
        }
    </script>
</html>