body{
    background-color: #312e2b;
}

h1{
color: white;
}

.center{
    position: static;
    margin: auto;
    text-align: center;
}

.right{
    position: absolute;
    right: 2%;
    margin: auto;
}

.sidebar-indicator-background{
    color: white;
    height: 5%;
    background-color: #272522;
    padding: 10px 10px 10px 10px;
}

.sidebar{
    width: 300px;
    top: 12%;
    bottom: 17%;
    border-radius: 5px;
    background-color: #ffffff;
}
